<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style2.css') }}" rel="stylesheet">
    <title>Trip to Web</title>
    <link rel="shortcut icon" href="/static/images/55.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/55.ico" type="image/x-icon">
</head>
<body>
    <div class="container2">
        <nav class = "global-nav">
            <div class="global-nav-links">
                <a href="/" class="global-nav-item">웹으로 떠나는 여행</a>
                <!-- <a href="#" class="global-nav-item">웹</a> -->
                <a href="/video" class="global-nav-item">Video</a>
            </div>
        </nav>
        <nav class="local-nav">
            <div class="local-nav-links">
                <a href="/" class="product-name">Trip to Web</a>
                <a href="/web3">개요</a>
                <a href="https://www.skyscanner.co.kr/" target="_blank">항공편 예약하기</a>
                <!-- <a href="#">구입하기</a> -->
            </div>
        </nav>
    <section>
        <div class="container">
            <h2>ㅇㅂㅈㄷㅋㄴㅊㅁㅇㅎㅇㄹㅇㅂㄷㅇ</h2>
            <h2>ㅂㅋ<span class='text1'>코</span>ㅅㅎㄹㅈㅂㅋㅊㄴㅋㅁㅎㅌㅋ</h2>
            <h2>ㅈㄱ<span class='text1'>로</span>ㅋㅌㅎㅍㅊㄹㄷㅈㅂㅋㅊㅁㅈ</h2>
            <h2>ㅅㅎ<span class='text1'>나</span>ㅇㄱㄷㅈㅂㅁㄴㄹㅊㅌㅋㄴㅇ</h2>
            <h2>ㅂㄱ<span class='text2'>에여행을?!</span>ㅂㅋㅁㄴㅇㅊㄷㄴㅂ</h2>
            <h2>ㅋㅍㄹㅊㅇㄷㄱㅈ<span>나는</span>ㅂㄷㅋㅊㅁㄹ</h2>
            <h2>ㅅㅊㅁㅊㅋㅁㅈㄱㅍㅌㅇㅁㄴㅋㄷㅋ</h2>
            <h2>ㅋㅍㅊㅌㄹㅊㄷㅈㅂㅇ<span>웹으로간다</span>ㅍ</h2>
            <h2>ㅂㅍㅋㅂㅇㄷㅍㅋㅌㅂㅁㅇㅈㅇㅋㅌ</h2>
            <h2>ㅅㅋㅊㄴㅂㄱㅁㅅㅍㅌㅊㅋㅇㅁㄴㅈ</h2>
        </div>
    </section>

</body>
</html>